{% extends 'base.html.twig' %}

{% block title  'Tous nos projets 2017 => 2021 ' %}

{% block body %}

<div class="container mt-5">
<h1> Voir tous nos  PROJETS SDI depuis 2017 </h1>
<p>  Liste des projets en cours  </p>

</div>
{% endblock body %}