
{% extends 'base.html.twig' %}
{% block title  'Projets SDI ' %}
{% block body %}
<div class="jumbotron text-center">
<div class="container">
<h1> Bienvenue  sur la homepage  PROJETS SDI</h1>
<p>  Liste des projets en cours  </p>
</div>
</div>
{% endblock body %}